doctype html
html
  head
    meta(charset="utf-8")
    //- var course = 'jade'
    title #{name+" "+age} #{course.toUpperCase()} study(国庆节)
  body
    h1#id.class.class2 I'm studying jade in 国庆节。
    #div
      span
        p id 和 class 的定义 div#id.class 
    div
      a(href="http://www.baidu.com",title="qie") link
      input(name="name",type="text")
      p
        strong 《木兰辞 拟古决绝词柬友》
        br
        |人生若只如初见
        |何事秋风悲画扇
        |等闲变却故人心
        |却道故人心易变
    div(style="border-top:1px solid #999;")
      h1(align="center") 变量含有特殊字符，转义还是不转义?
      - var data = 'text'
      - var htmlData = '<script>alert(1)</script><span>script</span>'
      p #{data}
      p #{htmlData}
      p !{htmlData}
      h2 另一种获取变量值的方式，转义的方式
      hr
      p=data
      p=htmlData
      p!=htmlData
      
      h3 如果页面要输出 # {} 怎么办？前面加\就好
      p \#{course}
